.ui.file.modal
	.content
		td
			.label
				margin-left 0.5em

#modal-autosaveselector .content
	.scroll-container
		max-height 40vh
		overflow-y auto
		margin-bottom 1rem
	.ui.button
		padding .4em .35em
		margin -.2em .2em
		&.protected:not(:hover), &.unprotected:hover
			background-color palette('Green', '500')
			i.unlock.icon
				display none
		&.unprotected:not(:hover), &.protected:hover
			background-color palette('Amber', '500')
			i.lock.icon
				display none
	#editor-autosave-preview
		width 100%
		height 18vh
		.ace_hidden-cursors .ace_cursor, .ace_cursor
			opacity 0

.template-dpcmoptionselector.ui.form
	.preview
		position relative
		width 100%
		height 6em
		& > *
			position absolute
			left 0
			top 0
			width 100%
			height 6em
		.clipArea
			opacity 0.33
			background-color palette('Teal', '500')
	input[type="text"][name="previewMML"]
		font-family $font-monospace
