input[type=range]
	-webkit-appearance none
	-moz-appearance none
	box-sizing border-box
	color $accent-color
	background-color #000
	border solid 1px #444
	height range-size

	&::-webkit-slider-runnable-track
		-webkit-appearance none
		height range-size
		background transparent
		border none

	&::-webkit-slider-thumb
		-webkit-appearance none
		border none
		height range-size
		width 0.1px
		background transparent

	&::-moz-range-track
		-moz-appearance none
		height range-size
		background transparent
		border none

	&::-moz-range-thumb
		-moz-appearance none
		border none
		height range-size
		width 0.1px
		background transparent

	&:focus
		outline none
		color $accent-light-color
		border-color $accent-dark-color
