.uix.splitter
	flex 0 0 8px
	background #666
	border-color #333
	border-style solid
	&.horizontal
		border-width 0 1px
	&.vertical
		border-width 1px 0
	&.secondary
		background #333
		border-left-color #1b1c1d
