.splash.center
	.logo.accent-colored-text
		i.lab.icon
		span.deco-text: |🎶
		|MMLxr
	// .sub.header: |[em-em-elixir]
	span.version= config.deploy.version
	|&nbsp;
	span.commitHash= config.deploy.commitHash.substr(0,8)
	br
	.copyright: |Copyright &copy; 2016 Mersenne Sister.
