.flx-col, .flx-row, .flx-colrev, .flx-rowrev
	display flex
	box-sizing content-box
.flx-col
	flex-direction column
.flx-row
	flex-direction row
.flx-colrev
	flex-direction column-reverse
.flx-rowrev
	flex-direction row-reverse

.flx-110
	flex 1 1 0
.flx-220
	flex 2 2 0
.flx-auto
	flex 0 0 auto

.ui.modal.maxheight
	& > .content
		max-height 75vh
		overflow-y auto

.ui.accordion > .content
	max-height 12em
	font-size 0.85em
	overflow auto
	& > pre
		max-width 9999px
		max-height 9999px
		overflow visible

i.lxr-right.icon
	margin 0 0 0 0.75em !important
.overflow-auto
	overflow auto
.overflow-hidden
	overflow hidden

.invisible
	visibility hidden

.center
	text-align center

.accent-colored-text
	color $accent-color



body
	-webkit-text-size-adjust 100%

a, .ui.list .list > a.item, .ui.list > a.item
	color $accent-color
	text-decoration none
	cursor pointer
	&:hover, &:active, &:focus
		color $accent-light-color
		text-decoration underline

.template
	display none

::-webkit-scrollbar
	width 10px
	height 10px
	background-color #000
::-webkit-scrollbar-track
	background-color #1b1c1d
::-webkit-scrollbar-thumb
	background-color $accent-color
::-webkit-scrollbar-corner
	background-color transparent



.touch-allow, .ui.modal
	&, *
		touch-action manipulation
