$accent-color = palette('Teal', '300')
$accent-light-color = blend(rgba(palette('Teal', '200'), 0.33), palette('Teal', '300'))
$accent-dark-color = palette('Teal', '800')

$disabled-color = palette('Grey', '600')
$disabled-light-color = blend(rgba(palette('Grey', '500'), 0.2), palette('Grey', '600'))
$disabled-dark-color = palette('Grey', '800')

$error-color = palette('Red', '300')

$font-proportional = NotoSansCJKjp, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
$font-monospace = Consolas, Monaco, Menlo, 'Ubuntu Mono', source-code-pro, monospace

range-size   = 20px

$ace-flmml-black0   = #202020
$ace-flmml-black    = #272822
$ace-flmml-black2   = #272727
$ace-flmml-black3   = #2F3129
$ace-flmml-darkgrey = #49483E
$ace-flmml-red      = #F92672
$ace-flmml-orange   = #FD971F
$ace-flmml-yellow   = #E6DB74
$ace-flmml-green    = #A6E22E
$ace-flmml-cyan     = #66D9EF
$ace-flmml-violet   = #AE81FF
$ace-flmml-grey     = #75715E
$ace-flmml-lightgrey= #B8B0A0
$ace-flmml-white    = #F8F8F2
