.splash
	color #fff
	.logo
		font-size 4rem
		line-height 4rem
		font-weight bold
		margin-bottom 1rem
	.deco-text
		font-size 2rem
		margin-left -2.5rem
		vertical-align 3rem
	.version
		font-size 1.5rem
		line-height 1.5rem
	.commithash
		font-size 1rem
		line-height 1.5rem
		margin-left 0.5rem
		opacity 0.75
	.copyright
		font-size 0.75rem
	.unsupported-text
		font-size 1.25rem
		line-height 1.5rem
		font-weight bold
