.logo
	font-size 4rem
	line-height 4rem
	font-weight bold
	color $accent-color
	display flex
	justify-content center
	.logo-img
		background-image url(images/mmlxr.png)
		background-size contain
		width 80px
		height 80px
	.logo-text
		height 80px
		padding-left 10px
		padding-top 10px

.splash
	color #fff
	.deco-text
		font-size 2rem
		margin-left -2.5rem
		vertical-align 3rem
	.version
		font-size 1.5rem
		line-height 1.5rem
	.copyright
		font-size 0.75rem
	.unsupported-text
		font-size 1.25rem
		line-height 1.5rem
		font-weight bold
