.markdown
	*
		touch-action manipulation
	color rgba(255, 255, 255, 0.8)
	line-height 1.7
	p
		line-height 1.7
	strong, h1
		color rgba(255, 255, 255, 1.0)
	h1
		&:not(:first-child)
			margin-top 2.5em
		border-bottom 1px solid rgba(255, 255, 255, 0.7)
		padding-bottom 0.15em
	code
		&:not(.ace-flmml)
			background-color rgba(255, 255, 255, 0.2)
		font-family $font-monospace
		border-radius 2.5px
		padding 0 0.4em
		margin 0 0.2em
		.mackey
			font-family $font-proportional
			margin-right 0.2em
