.pianoroll
	touch-action manipulation
	box-sizing content-box
	background $ace-flmml-black
	position relative
	overflow scroll

	*
		touch-action manipulation
		box-sizing border-box

	.pianoroll-grid
		position absolute
		top 0
		left 0
		background-size 384px 72px
		background-repeat repeat
		background-position left bottom

	.pianoroll-note
		pianoroll-note-color(name)
			background-color palette(name, '400')
			// background-image:
			// 	linear-gradient(
			// 		90deg,
			// 		palette(name, '800') 0%,
			// 		palette(name, '400') 100%
			// 	)
			&:not(.pianoroll-note-tied)
				border-left solid 1px palette(name, '800')
		pianoroll-note-color2(name)
			background-color palette(name, '200')
			&:not(.pianoroll-note-tied)
				border-left solid 1px palette(name, '600')
		cursor pointer
		border 0px solid transparent
		background-clip padding
		
		position absolute
		pianoroll-note-color('Grey')
		
		&.focused
			z-index 99
			opacity 1.0 !important
			box-shadow 0 0 0 1px rgba(255, 255, 255, 1.0)
		
		&.track-1
			pianoroll-note-color('Red')
		&.track-2
			pianoroll-note-color('Light Blue')
		&.track-3
			pianoroll-note-color('Amber')
		&.track-4
			pianoroll-note-color('Deep Purple')
		&.track-5
			pianoroll-note-color('Light Green')
		&.track-6
			pianoroll-note-color('Deep Orange')
		&.track-7
			pianoroll-note-color('Pink')
		&.track-8
			pianoroll-note-color('Cyan')
		&.track-9
			pianoroll-note-color('Blue Grey')
		&.track-10
			pianoroll-note-color('Indigo')
		&.track-11
			pianoroll-note-color('Lime')
		&.track-12
			pianoroll-note-color('Green')
		&.track-13
			pianoroll-note-color('Brown')
		&.track-14
			pianoroll-note-color('Purple')
		&.track-15
			pianoroll-note-color('Yellow')
		&.track-16
			pianoroll-note-color('Teal')
		&.track-17
			pianoroll-note-color('Orange')
		&.track-18
			pianoroll-note-color('Blue')
		&.track-19
			pianoroll-note-color('Grey')
		
		&.track-20
			pianoroll-note-color2('Red')
		&.track-21
			pianoroll-note-color2('Light Blue')
		&.track-22
			pianoroll-note-color2('Amber')
		&.track-23
			pianoroll-note-color2('Deep Purple')
		&.track-24
			pianoroll-note-color2('Light Green')
		&.track-25
			pianoroll-note-color2('Deep Orange')
		&.track-26
			pianoroll-note-color2('Pink')
		&.track-27
			pianoroll-note-color2('Cyan')
		&.track-28
			pianoroll-note-color2('Blue Grey')
		&.track-29
			pianoroll-note-color2('Indigo')
		&.track-30
			pianoroll-note-color2('Lime')
		&.track-31
			pianoroll-note-color2('Green')
		&.track-32
			pianoroll-note-color2('Brown')
		&.track-33
			pianoroll-note-color2('Purple')
		&.track-34
			pianoroll-note-color2('Yellow')
		&.track-35
			pianoroll-note-color2('Teal')
		&.track-36
			pianoroll-note-color2('Orange')
		&.track-37
			pianoroll-note-color2('Blue')
		&.track-38
			pianoroll-note-color2('Grey')



pianoroll-track-bgcolored(name)
	background-color palette(name, '500')
pianoroll-track-bgcolored2(name)
	background-color palette(name, '300')

button.ui.track-bgcolored.disabled.button
	opacity 1.0 !important

.track-bgcolored

	&.track-1, &[data-track="1"]
		pianoroll-track-bgcolored('Red')
	&.track-2, &[data-track="2"]
		pianoroll-track-bgcolored('Light Blue')
	&.track-3, &[data-track="3"]
		pianoroll-track-bgcolored('Amber')
	&.track-4, &[data-track="4"]
		pianoroll-track-bgcolored('Deep Purple')
	&.track-5, &[data-track="5"]
		pianoroll-track-bgcolored('Light Green')
	&.track-6, &[data-track="6"]
		pianoroll-track-bgcolored('Deep Orange')
	&.track-7, &[data-track="7"]
		pianoroll-track-bgcolored('Pink')
	&.track-8, &[data-track="8"]
		pianoroll-track-bgcolored('Cyan')
	&.track-9, &[data-track="9"]
		pianoroll-track-bgcolored('Blue Grey')
	&.track-10, &[data-track="10"]
		pianoroll-track-bgcolored('Indigo')
	&.track-11, &[data-track="11"]
		pianoroll-track-bgcolored('Lime')
	&.track-12, &[data-track="12"]
		pianoroll-track-bgcolored('Green')
	&.track-13, &[data-track="13"]
		pianoroll-track-bgcolored('Brown')
	&.track-14, &[data-track="14"]
		pianoroll-track-bgcolored('Purple')
	&.track-15, &[data-track="15"]
		pianoroll-track-bgcolored('Yellow')
	&.track-16, &[data-track="16"]
		pianoroll-track-bgcolored('Teal')
	&.track-17, &[data-track="17"]
		pianoroll-track-bgcolored('Orange')
	&.track-18, &[data-track="18"]
		pianoroll-track-bgcolored('Blue')
	&.track-19, &[data-track="19"]
		pianoroll-track-bgcolored('Grey')
	
	&.track-20, &[data-track="20"]
		pianoroll-track-bgcolored2('Red')
	&.track-21, &[data-track="21"]
		pianoroll-track-bgcolored2('Light Blue')
	&.track-22, &[data-track="22"]
		pianoroll-track-bgcolored2('Amber')
	&.track-23, &[data-track="23"]
		pianoroll-track-bgcolored2('Deep Purple')
	&.track-24, &[data-track="24"]
		pianoroll-track-bgcolored2('Light Green')
	&.track-25, &[data-track="25"]
		pianoroll-track-bgcolored2('Deep Orange')
	&.track-26, &[data-track="26"]
		pianoroll-track-bgcolored2('Pink')
	&.track-27, &[data-track="27"]
		pianoroll-track-bgcolored2('Cyan')
	&.track-28, &[data-track="28"]
		pianoroll-track-bgcolored2('Blue Grey')
	&.track-29, &[data-track="29"]
		pianoroll-track-bgcolored2('Indigo')
	&.track-30, &[data-track="30"]
		pianoroll-track-bgcolored2('Lime')
	&.track-31, &[data-track="31"]
		pianoroll-track-bgcolored2('Green')
	&.track-32, &[data-track="32"]
		pianoroll-track-bgcolored2('Brown')
	&.track-33, &[data-track="33"]
		pianoroll-track-bgcolored2('Purple')
	&.track-34, &[data-track="34"]
		pianoroll-track-bgcolored2('Yellow')
	&.track-35, &[data-track="35"]
		pianoroll-track-bgcolored2('Teal')
	&.track-36, &[data-track="36"]
		pianoroll-track-bgcolored2('Orange')
	&.track-37, &[data-track="37"]
		pianoroll-track-bgcolored2('Blue')
	&.track-38, &[data-track="38"]
		pianoroll-track-bgcolored2('Grey')



pianoroll-track-colored(name)
	color palette(name, '500')
pianoroll-track-colored2(name)
	color palette(name, '300')

.track-colored

	&.track-1, &[data-track="1"]
		pianoroll-track-colored('Red')
	&.track-2, &[data-track="2"]
		pianoroll-track-colored('Light Blue')
	&.track-3, &[data-track="3"]
		pianoroll-track-colored('Amber')
	&.track-4, &[data-track="4"]
		pianoroll-track-colored('Deep Purple')
	&.track-5, &[data-track="5"]
		pianoroll-track-colored('Light Green')
	&.track-6, &[data-track="6"]
		pianoroll-track-colored('Deep Orange')
	&.track-7, &[data-track="7"]
		pianoroll-track-colored('Pink')
	&.track-8, &[data-track="8"]
		pianoroll-track-colored('Cyan')
	&.track-9, &[data-track="9"]
		pianoroll-track-colored('Blue Grey')
	&.track-10, &[data-track="10"]
		pianoroll-track-colored('Indigo')
	&.track-11, &[data-track="11"]
		pianoroll-track-colored('Lime')
	&.track-12, &[data-track="12"]
		pianoroll-track-colored('Green')
	&.track-13, &[data-track="13"]
		pianoroll-track-colored('Brown')
	&.track-14, &[data-track="14"]
		pianoroll-track-colored('Purple')
	&.track-15, &[data-track="15"]
		pianoroll-track-colored('Yellow')
	&.track-16, &[data-track="16"]
		pianoroll-track-colored('Teal')
	&.track-17, &[data-track="17"]
		pianoroll-track-colored('Orange')
	&.track-18, &[data-track="18"]
		pianoroll-track-colored('Blue')
	&.track-19, &[data-track="19"]
		pianoroll-track-colored('Grey')
	
	&.track-20, &[data-track="20"]
		pianoroll-track-colored2('Red')
	&.track-21, &[data-track="21"]
		pianoroll-track-colored2('Light Blue')
	&.track-22, &[data-track="22"]
		pianoroll-track-colored2('Amber')
	&.track-23, &[data-track="23"]
		pianoroll-track-colored2('Deep Purple')
	&.track-24, &[data-track="24"]
		pianoroll-track-colored2('Light Green')
	&.track-25, &[data-track="25"]
		pianoroll-track-colored2('Deep Orange')
	&.track-26, &[data-track="26"]
		pianoroll-track-colored2('Pink')
	&.track-27, &[data-track="27"]
		pianoroll-track-colored2('Cyan')
	&.track-28, &[data-track="28"]
		pianoroll-track-colored2('Blue Grey')
	&.track-29, &[data-track="29"]
		pianoroll-track-colored2('Indigo')
	&.track-30, &[data-track="30"]
		pianoroll-track-colored2('Lime')
	&.track-31, &[data-track="31"]
		pianoroll-track-colored2('Green')
	&.track-32, &[data-track="32"]
		pianoroll-track-colored2('Brown')
	&.track-33, &[data-track="33"]
		pianoroll-track-colored2('Purple')
	&.track-34, &[data-track="34"]
		pianoroll-track-colored2('Yellow')
	&.track-35, &[data-track="35"]
		pianoroll-track-colored2('Teal')
	&.track-36, &[data-track="36"]
		pianoroll-track-colored2('Orange')
	&.track-37, &[data-track="37"]
		pianoroll-track-colored2('Blue')
	&.track-38, &[data-track="38"]
		pianoroll-track-colored2('Grey')



.pianoroll-event-tempo
	position absolute
	// border-left 1px solid #999
	// padding-left 3px
	z-index 99
	height 1rem
	line-height 1rem
	font-size 0.75rem
	top 1rem
	color #ddd
	&:before
		content: '♩='

.pianoroll-event-waveform
	position absolute
	z-index 99
	font-size 1.2rem
	line-height 1.2rem
	margin-top -1.2rem
	color #999
	white-space pre
	text-shadow 0 0 2px #000
	transform scale(0.5)
	transform-origin bottom left



.pianoroll-locator
	position absolute
	width 1px
	border-left 1px dashed rgba(255, 255, 255, 0.5)
	z-index 99
	display none



table.pianoroll-table
	width 100%
	border-collapse collapse
	font-family $font-monospace
	&:not(:first-child)
		margin-top 0.67em
	& > thead
		& > tr
			border none
			& > th
				padding 2px 8px
				text-align left
				background #666
				color #fff
				font-weight normal
	& > tbody
		& > tr
			border none
			&:not(:last-child)
				& > td, & > th
					border-bottom 1px solid #666
			& > td, & > th
				padding 2px 8px
				&:first-child
					padding-left 1em
				&:last-child
					padding-right 1em
				span.pianoroll-macro
					color $ace-flmml-yellow
				span.pianoroll-track
					color #fff
					font-style italic
			& > th
				color #fff
				width 7em
				text-align left
				font-weight normal
			& > td
				color #ccc

.pianoroll-vruler
	overflow-x scroll
	overflow-y hidden
	margin-top -(6px * 4)
	&::-webkit-scrollbar
		background-color #555
	&::-webkit-scrollbar-track
		background-color #555
	.pianoroll-vruler-octave
		&.overlay
			margin-top -(6px * 12)
		& > *
			height (6px * 12)
			display flex
			flex-direction column
			& > *
				box-sizing border-box
				overflow hidden
				flex 3 0 0
				&.wide
					flex 4 0 0
		.pianoroll-vruler-white
			.pianoroll-vruler-key
				width 4em
				background #666
				border-bottom 1px solid #444
				padding 0 3px 0 0
				text-align right
				overflow visible
				& > div
					font-size 9px
					line-height 9px
					color #bbb
		.pianoroll-vruler-black
			.pianoroll-vruler-key
				width 2em
				border-style solid
				border-color #333
				border-width 0
				&.top, &.wide
					border-top-width (6px / 2 - 1px)
				&.bottom, &.wide
					border-bottom-width (6px / 2)

.pianoroll-ruler-corner
	flex 0 0 4em
	height 2rem
	background-color #555

.pianoroll-hruler
	position relative
	.bar
		box-sizing border-box
		flex 0 0 384px
		height 2rem
		color #bbb
		background #555
		border-left 1px solid #222
		border-right 1px solid #222
		line-height 1rem
		.number
			padding-left 2px
		.beats
			bottom 0
			display flex
			flex-direction row
			.beat
				height 1rem
				flex 0 96px
				border-right 1px solid #222
