@import 'nib'
@import '../../node_modules/google-material-color/dist/palette'
@import '_config'
@import '_base'
@import '_body'
@import '_markdown'
@import '_controls/_filemodal'
@import '_controls/_range'
@import '_controls/_splitter'
@import '_controls/_toastr'
@import '_ace'
@import '_layout'
@import '_logo'
@import '_pianoroll'

#ctrl-menu.dropdown.item > .menu
	min-width 22em
// .ui.dropdown .menu>.item>.description, .ui.dropdown>.text>.description
// 	font-size 0.75em
// 	line-height 1.3em

.ui.form .fields .field .ui.toggle.checkbox
	margin 0.45em
